.usp-static-bar  {
    height: 60px;
}

.usp-static-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    font-size: 14px;
    text-align: center;
}

@media (max-width: 1200px) {
    .usp-static-bar {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    .usp-static-bar {
        flex: 0 0 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;

        flex-direction: column;
        overflow: hidden;
        flex-wrap: nowrap;
        padding: 0;
    }

    .usp-static-bar [data-usp-slide] {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;

        width: 100%;
        min-width: 100%;
    }

    .usp-static-bar [data-usp-slide] h3 {
        width: 50%;
    }
}