
.usp-slider-bar {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.usp-slider__inner {
    display: flex;
    transition: transform 0.3s ease;
    width: 100%;
}

.usp-slider__inner > * {
    flex: 0 0 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
}

.usp-slider-bar .usp-slide__heading {
    padding-right: 1rem;
}

.usp-slider-bar .usp-slide__text {
    line-height: 1.5rem;
}